.body{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
    .calculator{
        flex-grow:1;
        max-height: 50%;
        max-width: 450px;
        border: 2px solid black;
        border-radius: 4px;
        padding: 35px;
        background: rgb(219, 218, 218);
        }
    

        .display{
            display:flex;
            justify-content: flex-end;
            align-items: center;
            flex-grow:0;
            height: 50px;
            background: rgb(193, 248, 210);
            border: 2px solid black;
            margin:5px; 
            border-radius: 4px;
            margin-left:5px;
            margin-bottom:15px;
            padding: 25px;
            font-size: 80px;
            font-family: sans-serif ;
            
        }

        .buttons{
            flex-grow:1;
            display:flex;
            }

            .numbers {
                display:flex;
                flex-wrap:wrap;
            }
                .numbers > button {
                width: 100px;
                height: 100px;
                margin:5px; 
                background-color: rgb(247, 197, 205);
                border-radius: 4px;
                font-size: 20px;;
                }

            .operators {
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                padding-right: 5px;

                
            }
                .operators > button {
                width: 100px;
                height: 100px;
                background-color: rgb(213, 239, 248);
                border-radius: 4px;
                font-weight: 900;
                font-size: 20px;;
                }

            .numbers > .equals {
                background-color: rgb(229, 173, 247);
                border-radius: 4px;
                font-weight: 900;
                font-size: 20px;;
                
            }
            .numbers > .clear {
                background-color: rgb(236, 250, 187);
                border-radius: 4px;
            }


